{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Create New Contact</h1>

        {{ include('contact_cotroller/_form.html.twig') }}

        <a href="{{ path('app_contact_cotroller_index') }}" class="btn btn-secondary mt-3">Back to List</a>
    </div>
{% endblock %}
